[Unit]
Description=Check Autolycus container health regularly

[Timer]
OnBootSec=5min
OnUnitActiveSec=2min
AccuracySec=15s

[Install]
WantedBy=timers.target
